<form [formGroup]="form" (ngSubmit)="onSubmit()">
   
    <div class="form_two_group">
        <div class="form_two_group_container">
            <div class="form_group form_group--left">
                <label for="firstName" class="form_group_label">First Name</label>
                <input type="text" id="firstName" formControlName="firstName" name="firstName" required>
            </div>
            <div *ngIf="_firstName?.invalid && (_firstName?.dirty || _firstName?.touched)" class="alert alert-danger">
              <div class="error_text" *ngIf="_firstName?.errors?.['required']">
                First Name is required
              </div>
            </div>
        </div>
        <div class="form_two_group_container">
            <div class="form_group">
                <label for="lastName" class="form_group_label">Last Name</label>
                <input type="text" id="lastName" formControlName="lastName" name="lastName" required>
            </div>
            <div *ngIf="_lastName?.invalid && (_lastName?.dirty || _lastName?.touched)" class="alert alert-danger">
              <div class="error_text" *ngIf="_lastName?.errors?.['required']">
                Last Name is required
              </div>
            </div>
        </div>
    </div>
    <div class="subscription_title_block_name">
        <div class="subscription_title_block_name_text">
            <p *ngIf="!isSelectedSubscription">Here, you can choose the kind of subscription that will be applied automatically to every athlete you enroll. As an alternative, you can decide not to choose and give each athlete a manual subscription assignment.</p>
            <p *ngIf="isSelectedSubscription">This section specifies the subscription selected for this group.</p>
        </div>
    </div>
    <div *ngIf="!isSelectedSubscription" class="form_group">
        <div class="form_group form_group_select">
            <div class="select" [ngClass]="{ 'select--active': selectSubscriptionIsOpen }" >
                <div class="select_choice" (click)="selectSubscriptionToggle()">
                    <p>{{selectedSubscscription.name}}</p> <img src="assets/select.svg" alt="">
                </div>
                <div class="select_options">
                    <div class="select_options_option" *ngFor="let subscription of subscriptions" (click)="selectSubscriptionOption(subscription)">
                        <p>{{subscription.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedSubscscription.id == 0" class="">
        <div class="error_subs" *ngIf="selectedSubscscription.id == 0">
          Subscription can't be empty
        </div>
    </div>
    <div *ngIf="isSelectedSubscription" class="form_group">
        <div class="form_group form_group_select">
            <div class="select" >
                <div class="subs_group">
                  <p>Group subscription:</p>  <p>{{selectedSubscscription.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form_group">
        <div class="form_group form_group_select">
            <div class="select" [ngClass]="{ 'select--active': selectGroupIsOpen }" >
                <div class="select_choice" (click)="selectGroupToggle()">
                    <p>{{selectedGroup.name}}</p> <img src="assets/select.svg" alt="">
                </div>
                <div class="select_options">
                    <div class="select_options_option" *ngFor="let group of groups" (click)="selectGroupOption(group)">
                        <p>{{group.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form_two_group">
        <div class="form_two_group_container">
            <div class="form_group">
                <label for="customTimeLimit" class="form_group_label">Fixed number of trainings</label>
                <input class="mb-0" type="text" id="customTimeLimit" formControlName="customTimeLimit" name="customTimeLimit" required min="1" max="365" placeholder="">
            </div>
        </div>
        <div class="form_two_group_container">
            <div class="form_group">
                <label for="dateLast" class="form_group_label">Traing period</label>
                <input class="mb-0" type="text" id="dateLast" formControlName="dateLast" name="dateLast" required min="1" max="365" placeholder="">
            </div>
        </div>
    </div>
    <div class="form_content_button">
      <button type="submit">Edit</button>
    </div>
</form>
